.button {
  appearance: none;
  font-family: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  border: 0;
  border-radius: 6px;
  background: #4add8c;
  color: #2c2c40;
  padding: 6px 20px;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-out;
  font-weight: 600;
  text-transform: uppercase;
}

.button:hover {
  background: #4add8c;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #77778c;
}

.button[disabled] {
  color: #050709;
  background: #77778c;
  cursor: not-allowed;
}
