.article {
  display: flex;
  background-color: white;
  color: #2c2c40;
  border-radius: 8px;
  min-width: 440px;
  position: relative;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.image {
  background: transparent;
  margin: 0;
  position: absolute;
  bottom: 12px;
  left: 16px;
}

.image img {
  border-radius: 5px;
  height: 200px;
  width: 200px;
  object-fit: cover;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.content {
  padding: 16px 16px 16px 240px;
}

.header {
  display: flex;
  align-items: center;
}

.header h2 {
  margin: 0;
}

.status {
  background-color: #4add8c;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 0.65rem;
  margin-left: 8px;
  text-transform: uppercase;
  font-weight: 700;
}
